@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0c0a09;

    --card: #ffffff;
    --card-foreground: #0c0a09;

    --popover: #ffffff;
    --popover-foreground: #0c0a09;

    --primary: #1c1917;
    --primary-foreground: #fafaf9;

    --secondary: #f5f5f4;
    --secondary-foreground: #1c1917;

    --muted: #f5f5f4;
    --muted-foreground: #78716c;

    --accent: #f5f5f4;
    --accent-foreground: #1c1917;

    --destructive: #ef4444;
    --destructive-foreground: #fafaf9;

    --border: #e7e5e4;
    --input: #e7e5e4;
    --ring: #0c0a09;

    --radius: 0.5rem;
  }

  .dark {
    --background: #0c0a09;
    --foreground: #fafaf9;

    --card: #0c0a09;
    --card-foreground: #fafaf9;

    --popover: #0c0a09;
    --popover-foreground: #fafaf9;

    --primary: #fafaf9;
    --primary-foreground: #1c1917;

    --secondary: #292524;
    --secondary-foreground: #fafaf9;

    --muted: #292524;
    --muted-foreground: #a8a29e;

    --accent: #292524;
    --accent-foreground: #fafaf9;

    --destructive: #7f1d1d;
    --destructive-foreground: #fafaf9;

    --border: #292524;
    --input: #292524;
    --ring: #d6d3d1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
